html {
  position: relative;
  width: 700px;
  height: 540px;

  background: #f5f7f9;
}

.main {
  flow: vertical;
  align-items: center;
  padding: 0px;
  border-spacing: 20px;

  position: absolute;
  width: 640px;
  height: 480px;
  left: 30px;
  top: 30px;
}

.form-container {
  flow: vertical;
  align-items: center;
  padding: 0px;
  border-spacing: 12px;

  width: 640px;
  height: 220px;
}

.folder-inputs-container {
  flow: horizontal;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-spacing: 40px;

  width: 640px;
  height: 60px;
}

.folder-input-container {
  flow: vertical;
  align-items: flex-start;
  padding: 0px;
  border-spacing: 10px;

  width: 300px;
  height: 60px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.folder-label {
  width: 300px;
  height: 14px;

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.folder-input {
  flow: horizontal;
  align-items: center;
  padding: 0px;
  border-spacing: 4px;

  width: 300px;
  height: 36px;
}

.folder-input-btn {
  width: 36px;
  height: 36px;

  background: #3f7aff;
  border-radius: 4px;
}

.folder-input-btn:hover {
  background-color: #2a6bff;
  color: #ffffff;
}

.folder-input-btn:disabled,
.folder-input-btn[disabled] {
  background-color: #78a1fe;
}

.folder-input-btn-icon {
  background-color: transparent;
  position: relative;
  left: 11px;
  top: 11px;
}

.folder-input-input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  width: 260px;
  background: #ffffff;
  color: #9397a6;
  border: 1px solid #e5e6eb;
  border-radius: 4px;
  padding: 0px 11px;
  height: 36px;
}

.folder-input-input:focus {
  border: 1px solid #3f7aff;
}

.meta-tables-container {
  flow: horizontal;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-spacing: 7px;

  width: 640px;
  height: 148px;
}

.meta-table {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  width: 300px;
  height: auto;
  border-collapse: collapse;
}

.meta-table th,
.meta-table td {
  font-style: normal;
  font-weight: 400;
  color: #9397a6;
  border: 1px solid #e5e6eb;
  font-size: 12px;
}

.meta-table th {
  width: 103px;
  padding: 0 9px;
  text-align: right;
  background: #f4f4f4;
}

.meta-table .meta-table-header {
  height: 34px;
  text-align: left;
  background: #ffffff;
}

.meta-table td {
  width: 55px;
  padding: 0 7px;
  text-align: center;
  background: #ffffff;
}

.meta-table input {
  padding: 0;
  width: 100%;
  border: 0px;
}

.meta-table input caption {
  color: #9397a6;
  padding: 0;
  line-height: 26px;
  height: 26px;
  border: 0px;
}

.output input caption {
  color: #2a6bff;
}

.arrow-containter {
  width: 26px;
  height: 60px;
  position: relative;
  margin-top: *;
  margin-bottom: *;
}

.arrow {
  background-color: transparent;
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.convert-btn {
  width: 640px;
  height: 40px;
  background: #3f7aff;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
}

.convert-btn {
  width: 640px;
  height: 40px;
  background: #3f7aff;
  border-radius: 4px;
  position: relative;
}

.convert-btn-text {
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  position: absolute;
  width: 640px;
  top: 0%;
  left: 0%;
}

.convert-btn:hover {
  background-color: #2a6bff;
  color: #ffffff;
}

.convert-btn:disabled,
.convert-btn[disabled] {
  background-color: #78a1fe;
}

.convert-progress {
  position: absolute;
  top: 0%;
  left: 0%;
  background: #3f7aff;
  width: 0%;
  height: 100%;
  transition: width 2s;
  border-radius: 4px;
}

.banner-container {
  width: 640px;
  height: 180px;
  border-radius: 4px;
  background-image: url(banner.png);
  background-color: #ffffff;
}
