html {
  position: relative;
  width: 700px;
  height: 540px;

  background: #f5f7f9;
}

.main {
  flow: vertical;
  align-items: center;
  padding: 0px;
  border-spacing: 20px;

  position: absolute;
  width: 640px;
  height: 480px;
  left: 30px;
  top: 30px;
}

.form-container {
  flow: vertical;
  align-items: center;
  padding: 0px;
  border-spacing: 12px;

  width: 640px;
  height: 220px;
}

.folder-inputs-container {
  flow: horizontal;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-spacing: 40px;

  width: 640px;
  height: 60px;
}

.folder-input-container {
  flow: vertical;
  align-items: flex-start;
  padding: 0px;
  border-spacing: 10px;

  width: 300px;
  height: 60px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.folder-label {
  width: 300px;
  height: 14px;

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.folder-input {
  flow: horizontal;
  align-items: center;
  padding: 0px;
  border-spacing: 4px;

  width: 300px;
  height: 36px;
}

.folder-input-btn {
  width: 36px;
  height: 36px;

  background: #3f7aff;
  border-radius: 4px;
}

.folder-input-btn-icon {
  background-color: transparent;
  position: relative;
  left: 11px;
  top: 11px;
}

.folder-input-input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  width: 260px;
  background: #ffffff;
  border: 1px solid #e5e6eb;
  border-radius: 4px;
  padding: 0px 11px;
  height: 36px;
}

.folder-input-input:focus {
  border: 1px solid #3f7aff;
}

.meta-tables-container {
  flow: horizontal;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-spacing: 7px;

  width: 640px;
  height: 148px;
}

.meta-table {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  width: 300px;
  height: auto;
  border-collapse: collapse;
}

.meta-table-input {
  padding: 0px 9px;
  height: 28px;
  width: 100%;
  border: 2px;
  text-align: center;
}

.meta-table th,
.meta-table td {
  font-style: normal;
  font-weight: 400;
  color: #9397a6;
  border: 1px solid #e5e6eb;
  padding: 0 9px;
  font-size: 12px;
}

.meta-table th {
  text-align: right;
  width: 90px;
  background: #f4f4f4;
}

.meta-table .meta-table-header {
  height: 35px;
  text-align: left;
  background: #fff;
}

.meta-table td {
  width: 30px;
}

.arrow-containter {
  width: 26px;
  height: 60px;
  position: relative;
  margin-top: *;
  margin-bottom: *;
}

.arrow {
  background-color: transparent;
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.convert-btn-container {
  width: 640px;
  height: 40px;
}
.convert-btn {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 50%;
  bottom: 41.67%;

  background: #3f7aff;
  border-radius: 4px;
}
.convert-btn-text {
  position: absolute;
  width: 113px;
  height: 16px;
  left: calc(50% - 113px / 2 - 0.5px);
  top: calc(50% - 16px / 2 + 20px);

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}
.banner-container {
  width: 640px;
  height: 180px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
